*{
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    background-color: ;
}

.und{
    background-color:#a4ccdc;
    width: 300px;
    padding:10px;
    list-style-image: url(img/unchecked_16.png);
}

.done{
    background-color:#e2e2e2;
    width: 300px;
    padding:10px;
    list-style-image: url(img/checked_16.png);
}

.und2{
    background-color:#add8e6;
    width: 300px;
    padding:10px;
    list-style-image: url(img/unchecked_16.png);
}

span{
    color: rgb(197, 0, 0);
}

ul{
    list-style-position: inside;
    
}